[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pipenv run main.py"
deploy = "chalice deploy --connection-timeout=120"

[packages]
requests = "*"
chalice = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
